* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-one {
    display: flex;
    flex-direction: column;
    padding: 13px;
    background-color: #1F2937;
}
.container-logo {
    display: flex;
    justify-content: space-around;
}
.Logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}
a {
    text-decoration: none;
}
.section-one p, .section-one a {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    font-weight: 550;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 7px;
}
.container-hero {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin: 20px;
    padding-bottom: 30px;
    line-height: 1.3;
}
.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 12px;
    align-items: flex-start;
}