* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-one {
    display: flex;
    flex-direction: column;
    padding: 120px 20px;
    padding-top: 13px;
    background-color: #1F2937;
}
.container-logo {
    display: flex;
    justify-content: space-evenly;
}
.Logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}
a {
    text-decoration: none;
}
.section-one p, .section-one a {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    font-weight: 550;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 7px;
}
img {
    border-radius: 25px;
}
.container-hero {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
    line-height: 1.3;
}
.hero-text {
    display: flex;
    align-self: center;
    flex-flow: column wrap;
    max-width: 600px;
    gap: 12px;
    align-items: flex-start;
}
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    padding-top: 35px;
    gap: 40px;
}
.container-img {
    display: flex;
    gap: 40px;
}
h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
figcaption {
    padding: 5px;
    text-align: center;
}
.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    padding: 110px 270px;
    margin: auto;
}
.quote-owner {
    align-self: flex-end;
}
.section-four {
    display: flex;
    justify-content: center;
    padding: 80px 70px;
}
.action {
    display: flex;
    color: white;
    gap: 70px;
    padding: 35px 80px;
    border-radius: 10px;
}
.main-action {
    display: flex;
    flex-flow: column wrap;
}
.button-next {
    align-self: center;
    border: solid white;
    border-radius: 7px;
}
button, .action {
    background-color: #3882F6;
}
footer {
    text-align: center;
    color: white;
    background-color: #1F2937;
    padding: 35px;
}